<% layout("./boilerplate.ejs") %>

<link rel="stylesheet" href="./style/projects.css">

<section id="project">
    <div class="projects container">
        <h3>* I'm using free hosting platfrom which may cause slow load issue. *</h3>
        <div class="card teslaClone">
            <div class="inside-card">
                <div class="image">
                    <img src="../images/clone.png" alt="">
                </div>
                <div class="items">
                    <div class="description">
                        <h1>Tesla Clone</h1>
                        <p>A Tesla webiste clone with JDM twist. It's simple landing page, I took design from Tesla website and put I it together with Japanese cars.</p>
                    </div>
                    <div class="buttons">
                        <a target="_blank" href="https://github.com/SMThapa/JDM">GitHub</a>
                        <a target="_blank" href="https://jdm.onrender.com/">Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card todoList">
            <div class="inside-card">
                <div class="inside-card">
                    <div class="image">
                        <img src="../images/todolist.png" alt="">
                    </div>
                    <div class="items">
                        <div class="description">
                            <h1>To-Do-List</h1>
                            <p>My first ever react project the "to do list". It's a simple app where you can create, edit and delete tasks. It also stores the data in localstorage.</p>
                        </div>
                        <div class="buttons">
                            <a target="_blank" href="https://github.com/SMThapa/React-TO-DO-LIST-app">GitHub</a>
                            <a target="_blank" href="https://to-do-list-ck7n.onrender.com/">Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="height: auto;"">
    <%- include('footer.ejs') %>
</section>